@import 'globals';


.header{
  flex: 0 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  .logo{
    flex: 1;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
  }
  .buttons{
    flex:1;
    display: flex;
    align-items: center;
    gap: 1em;

    button{ 
      padding: 0.5em 2em;
      background-color: wheat;
      border-radius: 3px;
    }
  }
}
.container{
  width: 100vw;
  height: 95%;
  display: flex;
  background-color: rgba(#afb1b3, 0.3);  
  .editor{
    flex: 1;
    width: 100%;
    height: 100%;
    textarea{
      padding: 1em;
      width: 100%;
      height: 100%;
      font-size: 15px;
      border-radius: 5px;
      overflow: scroll;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
    textarea:focus{
      outline: none;
    }


  }
  .rendered{ 
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    background-color: rgba(#afb1b3, 0.1);
    border-radius: 5px;
    overflow: scroll;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);

  }
}